ruff
pre-commit
torch
torchaudio
scikit-learn
wget
tqdm
pytest
requests
torch-audiomentations
sphinx
sphinx_autodoc_typehints
sphinx_rtd_theme
mirdata
music2latent
transformers
einops
timm
nnaudio
torchmetrics
laion-clap