torch
torchaudio
scikit-learn
wget
tqdm
requests
torch-audiomentations
mirdata
transformers
einops
timm
nnaudio
torchmetrics
laion-clap
speechbrain
gin-config
einops_exts
cached_conv
tensorboard
torch_ema
